<!-- About section design -->
<section class="about" id="about">
    <div class="about-img">
        <img src="/img/yo.png" alt="">
    </div>
    
    <div class="about-content">
        <h2 class="heading">Sobre <span>Mi</span></h2>
        <h3>Backend Developer</h3>
        <p>Soy un <span>desarrollador backend</span> apasionado con  en la creación de aplicaciones web robustas y eficientes.
            Especializado en <span>PHP, MySQL y JavaScript</span>, Aunque mi enfoque principal es el backend, poseo conocimientos básicos de <span>HTML y CSS</span>, 
            lo que me permite colaborar eficazmente con los equipos de frontend para entregar soluciones integrales.
             Estoy constantemente buscando nuevas tecnologías y metodologías para mejorar la calidad y eficiencia del desarrollo de software.
        </p>

            <h2 class="heading"><span>Stack</span></h2>
            <!-- <a href="#" class="btn">Read More</a> -->
            <i class='bx bxl-nodejs'></i>
            <i class='bx bxl-javascript'></i>
            <i class='bx bxl-php'></i>
            <i class='bx bxl-postgresql'></i>
            <i class='bx bxl-html5' ></i>
            <i class='bx bxl-css3' ></i>
        
    </div>
</section>
<!-- End About section design -->