<!-- Contact section design -->
<section class="contact" id="contact">
    <h2 class="heading"><span>¡Contáctame!</span></h2>

    <form action="#" metood="">
        <div class="input-box">
            <input type="text" placeholder="Nombre Completo">
            <input type="email" placeholder="Email Address">
        </div>
        <div class="input-box">
            <input type="number" placeholder="Numero Telefonico">
            <input type="text" placeholder="Correo">
        </div>
        <textarea name="" id="" cols="30" rows="10" placeholder="Redacta tu Mensaje..."></textarea>
        <input type="submit" value="Enviar Mensaje" class="btn">
    </form>
</section>
<!-- End Contact section design -->