<!-- Home section design -->
<section class="home" id="home">
    <div class="home-content">
        <h3>Hola, Soy</h3>
        <h1>Victor Torres</h1>
        <h3>Un <span>Desarrollador Backend</span></h3>
        <p>
           
        </p>

        <div class="social-media">
            <a href="https://www.facebook.com/victortorres.2609" target="_blank"><i class='bx bxl-facebook-circle' ></i></a>
            <a href="https://www.instagram.com/vm.torres_/" target="_blank"><i class='bx bxl-instagram-alt' ></i></a>
            <a href="https://github.com/VictorTorres26" target="_blank"><i class='bx bxl-github' ></i></a>
            <a href="#"><i class='bx bxl-linkedin-square' ></i></a>
        </div>
        <a href="" class="btn" >Descargar mi CV</a>
    </div>

    <div class="home-img">
        <img src="/img/planeta.png" alt="" class="img">
    </div>
</section>
<!-- End Home section design -->