<header class="header">
    <a href="#" class="logo">Portafolio</a>

    <i class='bx bx-menu' id="menu-icon"></i>

    <nav class="navbar">
        
        <a href="#home" class="active">Home</a>
        <a href="#about">Sobre Mi</a>
        <a href="#services">Servicios</a>
        <a href="#portafolio">Portafolio</a>
        <a href="#contact">Contacto</a>
        <a><i class='bx bx-world'></i></a>
    </nav>
</header>