<!-- Portafolio section design -->

<section class="portafolio" id="portafolio">
    <h2 class="heading">Lastest <span>Projects</span></h2>

    <div class="portafolio-container">
        <div class="portafolio-box">
            <img src="/img/inventario.png" alt="">
            <div class="portafolio-layer">
                <h4>Sistema de Inventario</h4>
                <p>Ayuda a gestionar el inventario de manera eficiente.
                    Permite realizar un seguimiento de los productos,
                    las entradas y salidas de stock, y proporciona una
                    interfaz de usuario amigable para administrar los datos.
                    Realizado con MVC y PDO con tablas relacionadas
                    en la base de datos.
                </p>
                <!-- <a href="#"><i class='bx bx-link-external'></i></a> -->
            </div>
        </div>

        <div class="portafolio-box">
            <img src="/img/ventas.png" alt="">
            <div class="portafolio-layer">
                <h4>Sistema de Ventas</h4>
                <p>Una herramienta que gestiona el proceso de venta,
                    desde el seguimiento de inventario y la gestión de clientes
                    hasta el procesamiento de transacciones y la generación de informes.
                    Facilita la automatización de tareas, el análisis de datos de ventas
                    y la optimización de las estrategias comerciales para mejorar la 
                    ficiencia y aumentar las ganancias.
                </p>
                <a href="#"><i class='bx bx-link-external'></i></a>
            </div>
        </div>

    
    </div>
</section>
<!-- End Portafolio section design -->
