<!-- Services section design -->
<section class="services" id="services">
    <h2 class="heading">Our <span>Services</span></h2>

    <div class="services-container">
        <div class="services-box">
            <i class='bx bx-code-alt'></i>
            <h3>Web developer</h3>
            <p> Ofrezco soluciones técnicas personalizadas
                para satisfacer las necesidades específicas.<br><br>
                <span>Mi experiencia</span> abarca desde la programación de lógica de servidor
                con <span>PHP</span>, la gestión de bases de datos con <span>MySQL</span>,
                hasta la implementación de funcionalidades interactivas
                con JavaScript.
            </p>
            
            <!-- <a href="#" class="btn">Read More</a> -->
        </div>

        <div class="services-box">
            <i class='bx bxs-paint'></i>
            <h3>Diseño del Prototipo</h3>
            <p>Utilizo la herramienta figma para la creación del diseño que permite crear
                 prototipos interactivos y sistemas de diseño eficientes.
                  Ofrece bibliotecas de componentes reutilizables y diseño 
                  responsive, facilitando la colaboración en tiempo real y
                la adaptabilidad a diferentes dispositivos
            </p>
            
            <!-- <a href="#" class="btn">Read More</a> -->
        </div>

        <!-- <div class="services-box">
            <i class='bx bx-bar-chart-alt'></i>
            <h3>Digital Marketing</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Eius eveniet vero odit, tempora sint expedita temporibus 
                tenetur eos omnis nesciunt eligendi, voluptate magnam odio quas.
                 Repellat mollitia doloribus quo necessitatibus.
            </p>
            
             <a href="#" class="btn">Read More</a>
        </div> -->
    </div>
</section>
<!-- End Services section design -->    